@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&display=swap");
* {
  margin: 0;
  overflow-x: hidden;
}
.background_img
{
    background-image: url("https://uploads-ssl.webflow.com/600c8c2ee034d32f97280917/608804fc910c1737eaad9063_Home-draft%20%E2%80%93%201.jpg");
    background-size: size;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.navbar {
  /* border: 2px solid red; */
  width: 100vw;
  height: 14vh;
  background-color: rgb(27, 76, 137);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
}
.navbar_logo
{
  overflow: hidden;
}
a {
  font-size: 1.4vw;
  padding: 1vh 1.5vw;
  text-decoration: none !important;
  color: white ; 
  font-family: Barlow, "sans-serif";
  font-weight: 400;
}
.navbar_img {
  width: 15vw;
}
.navbar_elements_button {
  padding: 1.5vh 1vw;
  font-size: medium;
  font-family: "Barlow";
  border-radius: 28px;
  border: none;
  background: #fc6a04;
  color: white;
}
.background_content_p
{
  font-family: barlow;
  font-weight: 400;
  font-size: 4vw;
  color: white;
  width: 64vw;
  text-align: center;
  margin: auto;
}
.background_content_div
{
  display: flex;
  justify-content: center;
  margin-top: 12vh;
}
.background_content_div_part1
{
  display: flex;
}
.background_content_div_part2
{
  display: flex;
  margin-left: 4vw;
}
.div_part1_img
{
  width: 12vw;
}
.div_part2_img
{
  width: 12vw;
}
.div_part1_desc
{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-evenly;
  height: 35vh;
}
.div_part2_desc
{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-evenly;
  margin-left: 1vw;
  height: 35vh;
}
.div_part1_p1
{
  font-family: 'Barlow';
  font-size: larger;
  font-weight: 500;
  color: #fc6a04;
}
.div_part1_p2
{
  font-size: 2.4vw;
  width: 26vw;
  font-family: 'Barlow';
  color: white;
}
.div_part1_button
{
  padding: 1vh 1.5vw;
  border-radius: 25px;
  border: none;
  background-color: #fc6a04;
}
.div_part2_p
{
  font-family: 'Barlow';
  color: #fc6a04;
  font-size: larger;
  font-weight: 500;
  width: 13vw;
}
.div_part2_p2
{
  font-size: 2.4vw;
  width: 26vw;
  color: white;
  font-family: 'Barlow';
}
.second_background
{
  background-image: linear-gradient(180deg,#092e55 30%,#003b71);
  width: 100vw;
  height: 100vh;
}
.second_background_h1
{
      color: white;
      font-family: 'Barlow';
      text-align: center;
      padding-top: 20vh;
      letter-spacing: 3px; 
      top: 18vh;
      left: 0vw;; 
}

.img_banner
{
  height: 300vh;
  width: 99.5vw;
  overflow-y: hidden;
}
.img_banner_p
{
  font-family: barlow;
  font-weight: 500;
  font-size: 3vw;
  width: 99vw;
  margin: 3vh 0vw;
  text-align: center;
}
.img_banner_sub_p
{
  font-family: barlow;
  font-weight: 400; 
  font-size: 2vw;
  text-align: center;
  color: #598dd2;
}

.img_div_1
{
  display: flex;
  margin-top: 10vh;
}
.grid_img_1
{
  width: 49vw;
}
.grid_img_2
{
  width: 49vw;
}
.grid_img_1_p
{
  text-align: center;
  font-size: larger;
  font-family: barlow;

}
#sub_img_div_1
{
  margin-left: 1vw;
}
.grid_img_1_p1
{
  text-align: center;
  font-size: smaller;
  font-family: barlow;
  color: #fc6a04;
}


.img_div_2
{
  display: flex;
  margin-top: 10vh;
}
.img_of_div_2
{
  width: 33vw;
}

.img_div_3
{
  display: flex;
  margin-top: 4vh;
}
#img_div_3_h3
{
  font-family: barlow;
  font-weight: 500;
  font-size: 2vw;
  width: 99vw;
  color: cornflowerblue;
  text-align: center;
  margin-top: 10vh;
}

.img_div_4
{
  display: flex;
  margin-top: 4vh;
}
.Clients_Partners
{
  height: 87vh;
  margin-top: 15vh;
  overflow: hidden;

}
#Clients_Partners_h2
{
  font-family: barlow;
  font-weight: 500;
  font-size: 2vw;
  width: 99vw;
  text-align: center;
  margin-bottom: 12vh;
}
.Clients_Partners_div_1
{
  display: flex;
  justify-content: space-around;
}
.img_clients_partners1
{
  height: 10vh;
}
.Clients_Partners_div_2
{
  display: flex;
  justify-content: space-around;
  margin: 19vh 0vw;
}
.img_clients_partners2
{
  height: 10vh;
}
.Clients_Partners_div_3
{
  display: flex;
  justify-content: space-around;
}
.img_clients_partners3
{
  height: 10vh;
}
.info
{
  background-color: #1b4c89;
  height: 60vh;
  margin-top: 15vh;
}
.info_button
{
  padding: 1.5vh 1vw;
  font-size: medium;
  font-family: "Barlow";
  border-radius: 28px;
  border: none;
  background: #fc6a04;
  color: white;
  position: relative;
  font-weight: 500;
  top: 24vh;
  left: 42vw;
}
.info_p
{
  position: relative;
  font-family: "Barlow";
  top: 20vh;
  color: white;
  left: 34vw;
  font-weight: 500;
  font-size: 2vw;
}
.info_p1
{
  position: relative;
  font-family: "Barlow";
  font-weight: 500;
  top: 20vh;
  color: white;
  left: 25vw;
  font-size: 2vw;
}

.footer
{
  background-color: #132d4d;
  height: 45vh;
  
}
.footer_img
{
  height: 8vh;
  position: relative;
  left: 40vw;
  top: 5vh;
}
.icons
{
      /* display: inline-block; */
      position: relative;
      top: 8vh;
      left: 38vw;
      display: flex;
      justify-content: space-around;
      width: 19vw;
}
.img_icons
{
  height: 5vh;
}
.footer_info
{
  display: flex;
  color: silver;
  position: relative;
  top: 11vh;
  left: 29vw;
  width: 39vw;
  justify-content: space-evenly;
}
.footer_info_2
{
  position: relative;
  top: 16vh;
  width: 119vw;
  color: silver;
  left: 8vw;
}
.footer_info_2_a
{
  font-size: 1vw;
  color: silver;
}